/* 
**************************************
0. CSS Reset
************************************** 
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 
**************************************
1. Body Styling
************************************** 
*/

body {
  background: #f5f5f5;
}

/* 
**************************************
2. Canvas Styling
************************************** 
*/
.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* NOTE: Changing the width and height of canvas in CSS won't
change the resolution of the canvas image.*/
.main-canvas {
  /* object-fit: contain; */
  /* object-fit: none; */
  width: 70%;
  height: auto;
  border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
  .main-canvas {
    width: 100%;
  }
}

/* 
**************************************
3. Other Content Styling
************************************** 
*/
